<div class="max-w-7xl mx-auto flex items-center h-20 px-2 lg:px-0">
    <div class="flex-auto flex items-center">
        <a href="#" class="text-4xl">
            <img class="object-contain h-12" src="themes/tailwind/assets/images/communist.svg" alt="Lorem Ipsum">
        </a>
        <div class="ml-6">
            <a href="#" class="text-3xl leading-4"><strong>Lorem</strong>Ipsum</a>
            <p class="text-sm leading-4 uppercase">Donec hendrerit vehicula</p>
        </div>
    </div>
</div>