description = "Default"

[staticPage]
useContent = 1
default = 1

[childPages]
==

{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }} - DEV</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ ['assets/fonts/icofont.css', 'assets/css/aos.css', 'assets/css/app.css']|theme }}" rel="stylesheet">
</head>
<body>
    <div class="bg-gray-50 bg-header-sm lg:bg-header bg-contain bg-no-repeat bg-top">
        <header id="siteHeader" class="sticky top-0 z-50 transition-all duration-200 bg-blue-600 text-white">
            {% partial 'site/header' %}
        </header>
        <main>
            {% page %}
        </main>
        <footer>
            {% partial 'site/footer' %}
        </footer>
    </div>
    <script src="{{ ['assets/js/jquery.js', 'assets/js/aos.js', 'assets/js/app.js']|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
{% endspaceless %}