description = "Default"

[staticPage]
useContent = 1
default = 1

[childPages]
==

{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }} - DEV</title>
    <link href="{{ ['assets/fonts/icomoon.css', 'assets/css/app.css']|theme }}" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <header id="siteHeader" class="sticky top-0 transition-all duration-300 bg-white">
            {% partial 'site/header' %}
        </header>
        <main>
            {% page %}
        </main>
        <footer>
            {% partial 'site/footer' %}
        </footer>
    </div>
    <script src="{{ ['assets/js/jquery.js', 'assets/js/app.js']|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
{% endspaceless %}